@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
    --color-texto: #000000;
    --color-texto2: #393939;
    --color-primary: #213c64;
    --color-secondary: #377888;
    --color-bg: #FFFFFF;

    --font-sans: 'Outfit', sans-serif;
}

#action-button {
    background: #C21D03;
    background: linear-gradient(90deg, #213c64 0%, #377888 100%);
}