---
import TyC from "../dialog/tyc.jsx";
---

<nav
    class="w-full h-[12dvh] px-20 flex justify-between border-[#C8C8C8] border-b-2"
>
    <img class="h-full p-5" src="/src/images/logo.webp" alt="logo" />

    <TyC client:load />
</nav>
