---
import TyC from "../dialog/tyc.jsx";
---

<nav
    class="w-full h-[12dvh] px-20 flex justify-between border-[#C8C8C8] border-b-2 bg-bg"
>
    <button onclick="location.href='/'" class="h-full cursor-pointer">
        <img class="h-full" src="/src/images/logo2.webp" alt="logo" />
    </button>

    <TyC client:load />
</nav>
