---
import TyC from "../dialog/tyc.jsx";
---

<nav
    class="w-full h-[12dvh] px-20 flex justify-between border-[#C8C8C8] border-b-2 bg-bg"
>
    <img class="h-full" src="/src/images/logo2.webp" alt="logo" />

    <!-- <TyC client:load /> -->
</nav>
